/* card */
#card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(93, 126, 168, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px) !important;
  -webkit-backdrop-filter: blur(5.1px) !important;
  border: 1px solid rgba(93, 126, 168, 0.49);
  width: 24%;
  height: 20%;
  margin: 20% auto 50% auto;
}

/* input CSS */
input[type="number"]{
  display: flex;
  order: 2;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

/* FactType Label */
label{
  font-family: inherit;
  display: flex;
  font-weight: 700;
  font-size: large;
  margin-bottom: 5px;
}

/* H2 Output */
h2{
  display: flex;
  order: 3;
  white-space: pre-wrap;
  flex-direction: row;
  width: 85%;
  justify-content: center;
}

/* <select> styles */
select {
  /* Styling */
  width: 15em;
  height: 3em;
  padding: 0 4em 0 1em;
  background: linear-gradient(to left, rgba(255, 0, 0) 3em, rgba(12, 11, 11) 3em);
  color: rgb(237, 236, 238);
  border-radius: 0.45em;
  box-shadow: 0 0 2em 0 rgba(92, 22, 22, 0.2);
  cursor: pointer;
}
 /* <option> colors */
 option{
  color: inherit;
  background-color: #320a28;
}
